<head>
{%include 'bootstrap.html'%}
</head>
<body>
 {% include 'banner.html' %}
<h4>Send me Massage </h4>
<form action="/message_submitted" method="post" >
<div class="mb-2">
<label>Full name</label><br>
<input type="text" name="full_name" placeholder="Ali Alonizy">
</div>

  <div class="mb-2">
  <label>Email</label><br>
  <input type="text" name="email" placeholder="AliAlonizy@xyz.com">
  </div>

  <div class="mb-2">
<label>Message</label><br>
  <textarea type="text" name="message"></textarea>
  </div>
<input type="submit">
</form>
<body>